-let titulo = "Pagina WEB prepos pug ";
-let nombre = "Andres Barrera";
-let hobbies = ["Programar","musica","series","peliculas"];
doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{titulo.toUpperCase()}
        script
    body
        h1 #{nombre.toUpperCase()}
        p #{hobbies[2]}
        -let edad = 27;
        p= edad==18 ? 'Es mayor de edad' : 'Condicion no se cumple'

        if edad>17
            p Es mayor de edad 
        else if edad<=10 && edad>=17
            p Esta entre los 10 y 17
        else
            p Condicion no se cumple

        case edad
            when 27: p tiene 27 años #{nombre}
            when 18: p Es mayor de edad
            default: p Condicion no se cumple
        -let lista = ["Barrera","programador","series","universo"];
        -let i=0;
        - for (let indice of lista)
              p= indice
        each valor, indice in lista
            p=lista[indice]
        each valor in lista.length ? lista : ["No hay datos"]
           p= valor
        while i < lista.length
            p=lista[i++]